<!doctype html>
<html lang="en">
<head>
{% load static %}
{% load custom_tags %}
<meta charset="utf-8">
<title>Management</title>
<link rel="stylesheet" href="{% static 'index.css' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'Restaruant.jpg'  %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body style="overflow:hidden">
<div class="flexcontainer">
<div style="background-color:#7F00FF;flex:1;display:flex;">
<div style="padding-top:2.5px;padding-left:15px;"><img src='{% static "Restaruant.jpg" %}' style="height:70px;width:65px;margin-right:20px;background:transparent;"></div>
<div id="title_setting" style="width:100%;font-size:60px;color:antiquewhite;"><i>Restaruant Management</i></div>
<div>
<a href="/logout">
    <input type="button" value="logout" style="position:relative;top:30px;right:20px;cursor:pointer;" />
</a>
</div>
</div>
<div id="menusection">
{% if 'tablenum' not in request.session%}
<div id="form_place">
<p><h1>Welcome to Restaruant</h1><p>
<form id="NumberForm" action="verifyTableAvailability" method="POST">
<table>
    {% csrf_token %}
    {{ form }}
    <tr><td><input type="submit" value="Submit" class="butt"></td><td><input type="reset" value="cancel" class="butt"></td></tr>
</table>
</form>
<div id="div_place" hidden>
<table>
<tr><p>Please Wait for Some time No tables are vacant</p></tr>
<tr><td><input type="button" value="Stay" class="butt"></td>
<td><input type="button" value="Leave" class="butt"></td></tr>
</table>
</div>
<form>
<div id="quantity" hidden>Quantity:<input type="number"></div>
</form>
</div>
<script type="text/javascript">
$(document).ready(function(){
$('#NumberForm').on('submit',(function(e) {
    e.preventDefault();
    e.stopPropagation(); 
    var form = $(this);
    var url = form.attr('action');
    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
               window.location.reload();
           },
           error: function(data)
           {
                $("#div_place").show(); // the message
           }
        });
    }));
$("input:checkbox").change(function() { 
            if($(this).is(":checked")) 
                $("#quantity").show();
            else 
                $("#quantity").hide();
}); 
});
</script>
{% endif %}
{% if 'tablenum' in request.session%}
<div>
<div style="display:flex;">
<h1 style="position:absolute;transform: translateY(-25%);">Welcome to Restaruant your Table number {{tablenum}}</h1>
<input type="button" value="Get the Bill" id="checkout" style="position:absolute;cursor:pointer;right:30px; transform: translateY(90%);">
</div>
<h1 style="position:relative;text-align:center;top:50px;">------MENU------</h1>
<div style="display:flex;flex-direction:column;">
<div style="position:relative;top:50px;">
<form id="orderForm" method="POST" action="order">
{% csrf_token %}
{% regroup item|dictsort:"type" by type as item_list %}
<div class="tab" style="display:flex;flex-direction:column;position:relative;">
    {% for type in item_list %}
    <div class="dropdown">
        <a href="#{{ type.grouper }}" class="dropbtn"><b><i>{{ type.grouper }}</i></b></a>   
            <div id="{{ type.grouper }}" class="dropdown-content">
            <table>
            {% for items in type.list %}
                <tr><td>
                {% if items.Remaining < 1 %}
                <input type="checkbox" value="{{items.Name}}" disabled>
                {% endif %}
                {% if items.Remaining > 0 %}
                <input type="checkbox" value="{{items.id}}" name="{{items.Name}}">
                {% endif %}</td>
                <td><p>{{ items.Name }}:</p></td> <td><p>{{ items.price }}</p></td>
                <td> <span id="{{items.id}}" hidden>Quantity:<input type="number" id="{{items.Name}}" name={{items.id}} style="width:30px;" min="1" max={{items.Remaining}} onkeydown="return false //return value false" value="1"><span value="{{items.Name}}" class="increment" style="margin-left:7.5px;"><input type="button" value="+" style="cursor:pointer"></span><span class="decrement" value="{{items.Name}}" style="margin-left:7.5px;margin-right:15px;"><input type="button" value="-" style="cursor:pointer"></span>{%if items.Name not in request.session.ordered_items %}<div class="{{items.id}}" style="margin-top:10px;" hidden><span style="font-size:18px;margin-right:5px;margin-left:15px;"><b>{{items.Name}}:</b></span><span class="{{items.Name}}" style="font-size:18px;">1</span></div>{% endif %}</td>
                </tr>
            {% endfor %}
            </table>
            </div>
            </div>
    {% endfor %}
</div>
<table>
<tr><td><input type="submit" value="Order" style="cursor:pointer"></td><td><input type="reset" value="cancel" style="cursor:pointer"></td></tr>
</table>
</form>
<div id="order" hidden><b>Ordered Successfully</b></div>
<div style="position:absolute;right:0px;top:0px;width:400px;height:400px;background-color:#f1f1f1;display:flex;flex-direction:column;">
<div style="text-align: center;font-size:20px;margin-top:5px;"><b>------Your Orders------</b></div>
<div id="orderslist">
{% if 'ordered_items' in request.session%}
{% for key, value in request.session.ordered_items.items %}
<div style="margin-top:10px;"><span style="font-size:18px;margin-right:5px;margin-left:15px;"><b>{{key}}:</b></span><span class="{{key}}" style="font-size:18px;">{{value}}</span></div>
{% endfor %}
{% endif %}
</div>
</div>
</div>
</div>
</div>
<script>
$(document).ready(function(){
$('.increment').on('click',(function(e) {
  var id= $(this).attr('value')
  if(document.getElementById(id).value<document.getElementById(id).max)
  {
    document.getElementById(id).value++;
    document.getElementsByClassName(id)[0].innerText++;
  }
}));
$('.decrement').on('click',(function(e) {
  var id= $(this).attr('value')
  if(document.getElementById(id).value>document.getElementById(id).min)
  {
    document.getElementById(id).value--;
    document.getElementsByClassName(id)[0].innerText--;
  }
}));
$("input:checkbox").change(function() { 
    var rssId = $(this).attr('value')
    if($(this).is(":checked"))
    { 
      $("#"+rssId).show();
      if (document.getElementById("orderslist").contains(document.getElementsByClassName(rssId)[1])){
           document.getElementsByClassName(rssId)[0].innerText++;
      }
      else
      {
        $("."+rssId).show();
        document.getElementById("orderslist").appendChild(document.getElementsByClassName(rssId)[0]);
      }
      
    }
    else
    { 
        $("#"+rssId).hide();
        var y=document.getElementById("orderslist")
        if (y){
           $("."+rssId).hide();
      }
    }
}); 
$('#orderForm').on('submit',(function(e) {
    e.preventDefault();
    e.stopPropagation(); 
    var form = $(this);
    var url = form.attr('action');
    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
               $("#order").html(data);
               $("#order").show();
               document.getElementById("orderForm").reset();
           },
           error: function(data)
           {
                $("#div_place").show(); // the message
           }
           window.location = 'http://127.0.0.1:8000/customer'
        });
    }));
$('#checkout').on('click',(function(e) {
    e.preventDefault();
    e.stopPropagation(); 
    $.ajax({ 
           url: 'checkout', 
           success: function(data)
           {
               $("#menusection").html(data);
           },
           error: function(data)
           {
                $("#div_place").show(); // the message
           }
        });
    }));
});
var submitAnswer = function() {

  var radios = document.getElementsByName('choice');
  var val= "";
  for (var i = 0, length = radios.length; i < length; i++) {
      if (radios[i].checked) {
         val = radios[i].value; 
         break;
       }
  }
};
</script> 
{%endif%}
</div>
</body>
<style>
input[type=number]
{
  border:none;
  border-bottom: 2px solid black;
  margin: 10px;
  background-color: white;
}
input[type=number]:focus
{
  outline:none;
}
.butt
{
    width:75px;height:30px;padding-left:5px;border:4px solid #7F00FF;border-top-left-radius:20px;border-bottom-left-radius:20px;border-top-right-radius:20px;border-bottom-right-radius:20px;margin-right:20px;
}
.butt:hover
{
    cursor:pointer
}
</style>
<style>
.dropbtn {
  background-color: antiquewhite;
  text-decoration: none;
  border-radius:20px;
  color: black;
  width:80px;
  text-align: center;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
  display:inline-block;
  cursor:pointer;
}

.dropdown {
  padding-bottom:10px;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left:200px;
  top:0px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropbtn:active
{
  background-color: black;
}

.dropbtn:focus {
  background-color: black;
}
.tab .dropdown-content {
  display: none;
}

.tab .dropdown-content:target {
  display: block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
</style>
</html>




